 <%= stylesheet_link_tag 'styles' %>
<article>
<%= render 'repeats/header' %>
<section class="post_body">
 <div class="post_container">
 <div class="post-head">
    <h4><%= content_tag :span, "ðŸ“ Post # #{@post.id} by  #{@post.author.name}" %></h4>
    <%= content_tag :span, "Comments: #{@post.comments_counter} Likes: #{@post.likes_counter}" %>  
  </div>
    <%= content_tag :div, class: "post-likes" do %>
      <%= button_to "ðŸ–¤ Like", user_post_likes_path(user_id: current_user.id, post_id: @post.id), method: :post %>
    <% end %>
    <h1><%= @post.title %></h1>
  <%= raw "<p>#{@post.text}</p>" %>
  <% if can? :destroy, @post %>
  <%= button_to "DELETE", user_post_path(current_user, @post), method: :delete  %>
  <%end%>
  <ul class="commentt">
   <h3>ðŸ’¬ Comments:</h3>
    <% @post.comments.each do |comment| %>
      <li class="user-bio_div d-flex-2"><%= comment.author.name %>: <%= comment.text %></li>
  <% if can? :destroy, comment %>
  <%= button_to "DELETE", user_post_comment_path(comment.author, comment.post, comment), method: :delete  %>
  <%end%>
    <% end %>
  </ul>
 </div>
   <%= content_tag :div, class: "post-comments" do %>
      <%= render "comments/create", locals: { post_id: @post_id, comment: @comment } %>
    <% end %>
</section>
</article>
